spring:
  lifecycle:
    timeout-per-shutdown-phase: 30s

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6381} # 本地启动走6381 应为docker容器中的reids暴露的端口就是6381
      database: 0
      password: ${SPRING_REDIS_PASSWORD:} # Redis密码，从环境变量读取

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://study-java-mysql-container:3308/study_java?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:123456}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
#   configuration:
#    # 生产环境关闭控制台 SQL 日志
#    # log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
server:
  shutdown: graceful
