<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaGoodsCategoryMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.dao.StudyJavaGoodsCategoryDao">
            <id property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="categoryLevel" column="category_level" jdbcType="TINYINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryRank" column="category_rank" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_level,parent_id,
        category_name,category_rank,is_deleted,
        create_time,create_user,update_time,
        update_user
    </sql>

    <select id="getGoodsCategoryList" resultMap="BaseResultMap"
            parameterType="com.example.domain.vo.StudyJavaGoodsCategoryVo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM study_java_goods_category
            WHERE is_deleted = 0
            <if test="studyJavaGoodsCategoryVo != null and studyJavaGoodsCategoryVo.categoryName != null and studyJavaGoodsCategoryVo.categoryName != ''">
                AND category_name LIKE CONCAT('%', #{studyJavaGoodsCategoryVo.categoryName}, '%')
            </if>
            <if test="studyJavaGoodsCategoryVo != null and studyJavaGoodsCategoryVo.categoryLevel != null and studyJavaGoodsCategoryVo.categoryLevel != 0">
                AND category_level = #{studyJavaGoodsCategoryVo.categoryLevel}
            </if>
            <if test="studyJavaGoodsCategoryVo != null and studyJavaGoodsCategoryVo.parentId != null and studyJavaGoodsCategoryVo.parentId != 0">
                AND parent_id = #{studyJavaGoodsCategoryVo.parentId}
            </if>
            <if test="studyJavaGoodsCategoryVo != null and studyJavaGoodsCategoryVo.categoryRank != null and studyJavaGoodsCategoryVo.categoryRank != 0">
                AND category_rank = #{studyJavaGoodsCategoryVo.categoryRank}
            </if>
            ORDER BY category_rank desc
    </select>
</mapper>
