<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaUserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.dao.StudyJavaUserDao">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="passwordMd5" column="password_md5" jdbcType="VARCHAR"/>
            <result property="introduceSign" column="introduce_sign" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="lockedFlag" column="locked_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        user_id,nick_name,login_name,
        password_md5,introduce_sign,address,
        is_deleted,locked_flag,create_time,avatar
    </sql>

    <!--  根据条件查询所有的用户  -->
    <select id="getUserList" resultMap="BaseResultMap" resultType="com.example.domain.dao.StudyJavaUserDao">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_user
        <where>
            is_deleted = 0
            <if test="studyJavaUserDao != null and studyJavaUserDao.userId != null and studyJavaUserDao.userId != ''">
                AND user_id = #{studyJavaUserDao.userId}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.nickName != null and studyJavaUserDao.nickName != ''">
                AND nick_name LIKE CONCAT('%', #{studyJavaUserDao.nickName}, '%')
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.loginName != null and studyJavaUserDao.loginName != ''">
                AND login_name LIKE CONCAT('%', #{studyJavaUserDao.loginName},'%')
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.introduceSign != null and studyJavaUserDao.introduceSign != ''">
                AND introduce_sign LIKE CONCAT('%', #{studyJavaUserDao.introduceSign},'%')
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.address != null and studyJavaUserDao.address != ''">
                AND address LIKE CONCA('%',#{studyJavaUserDao.address},'%')
            </if>
        </where>
    </select>

    <!--  新增用户数据  -->
    <insert id="insertUserInfo" keyColumn="user_id" keyProperty="userId" parameterType="com.example.domain.vo.StudyJavaUserVo" useGeneratedKeys="true">
        insert into study_java_user
        ( user_id,nick_name,login_name
        ,password_md5,introduce_sign,address
        ,is_deleted,locked_flag,create_time
        )
        values (#{studyJavaUserDao.userId,jdbcType=BIGINT},#{studyJavaUserDao.nickName,jdbcType=VARCHAR},#{studyJavaUserDao.loginName,jdbcType=VARCHAR}
        ,#{studyJavaUserDao.passwordMd5,jdbcType=VARCHAR},#{studyJavaUserDao.introduceSign,jdbcType=VARCHAR},#{studyJavaUserDao.address,jdbcType=VARCHAR}
        ,#{studyJavaUserDao.isDeleted,jdbcType=TINYINT},#{studyJavaUserDao.lockedFlag,jdbcType=TINYINT},#{studyJavaUserDao.createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--  更新用户头像  -->
    <update id="updateUserAvatar">
        update study_java_user
        <set>
            avatar = #{base64ImageUrl,jdbcType=VARCHAR},
        </set>
        where
            is_deleted = 0
            and `user_id` = #{userId,jdbcType=BIGINT}
    </update>

    <!--  删除用户 软删除  -->
    <update id="deleteUserInfo" parameterType="com.example.domain.dao.StudyJavaUserDao">
        update study_java_user
        <set>
            is_deleted = 1
        </set>
        where
            `user_id` = #{studyJavaUserDao.userId,jdbcType=BIGINT}
    </update>

    <!--  更新用户数据  -->
    <update id="updateUserInfo" parameterType="com.example.domain.dao.StudyJavaUserDao">
        update study_java_user
        <set>
            <if test="studyJavaUserDao.nickName != null and studyJavaUserDao.nickName != ''">
                nick_name = #{studyJavaUserDao.nickName,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUserDao.loginName != null and studyJavaUserDao.loginName != ''">
                login_name = #{studyJavaUserDao.loginName,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUserDao.introduceSign != null and studyJavaUserDao.introduceSign != ''">
                introduce_sign = #{studyJavaUserDao.introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUserDao.address != null and studyJavaUserDao.address != ''">
                address = #{studyJavaUserDao.address,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUserDao.passwordMd5 != null and studyJavaUserDao.passwordMd5 != ''">
                password_md5 = #{studyJavaUserDao.passwordMd5,jdbcType=VARCHAR},
            </if>
        </set>
        where
        is_deleted = 0
        and `user_id` = #{studyJavaUserDao.userId,jdbcType=BIGINT}
    </update>
    <!--  获取用户信息  -->
    <select id="getUserInfo" parameterType="com.example.domain.dao.StudyJavaUserDao" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from study_java_user
        <where>
            is_deleted = 0
            <if test="studyJavaUserDao != null and studyJavaUserDao.userId != null and studyJavaUserDao.userId != ''">
                AND user_id = #{studyJavaUserDao.userId}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.loginName != null and studyJavaUserDao.loginName != ''">
                AND login_name = #{studyJavaUserDao.loginName}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.nickName != null and studyJavaUserDao.nickName != ''">
                AND nick_name = #{studyJavaUserDao.nickName}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.passwordMd5 != null and studyJavaUserDao.passwordMd5 != ''">
                AND password_md5 = #{studyJavaUserDao.passwordMd5}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.introduceSign != null and studyJavaUserDao.introduceSign != ''">
                AND introduce_sign = #{studyJavaUserDao.introduceSign}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.address != null and studyJavaUserDao.address != ''">
                AND address = #{studyJavaUserDao.address}
            </if>
            <if test="studyJavaUserDao != null and studyJavaUserDao.lockedFlag != null and studyJavaUserDao.lockedFlag != ''">
                AND locked_flag = #{studyJavaUserDao.lockedFlag}
            </if>
        </where>
        Limit 1
    </select>
</mapper>
