<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyjava.mapper.StudyJavaSysMenuMapper">

    <resultMap id="BaseResultMap" type="com.studyjava.domain.dao.StudyJavaSysMenuDao">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="menuType" column="menu_type" jdbcType="TINYINT"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,menu_name,
        path,component,icon,
        menu_type,perms,order_num,
        create_by,create_time,update_by,update_time,is_deleted,remark
    </sql>

    <select id="getMenuList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_sys_menu
        <where>
            (is_deleted = 0 OR is_deleted IS NULL)
            <if test="studyJavaSysMenuDao != null">
                <if test="studyJavaSysMenuDao.menuName != null and studyJavaSysMenuDao.menuName != ''">
                    AND menu_name LIKE CONCAT('%', #{studyJavaSysMenuDao.menuName}, '%')
                </if>
                <if test="studyJavaSysMenuDao.menuType != null">
                    AND menu_type = #{studyJavaSysMenuDao.menuType}
                </if>
                <if test="studyJavaSysMenuDao.parentId != null">
                    AND parent_id = #{studyJavaSysMenuDao.parentId}
                </if>
                <if test="studyJavaSysMenuDao.perms != null and studyJavaSysMenuDao.perms != ''">
                    AND perms LIKE CONCAT('%', #{studyJavaSysMenuDao.perms}, '%')
                </if>
            </if>
        </where>
        ORDER BY order_num ASC
    </select>

    <select id="getAllMenuList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_sys_menu
        <where>
            (is_deleted = 0 OR is_deleted IS NULL)
        </where>
        ORDER BY order_num ASC
    </select>

    <!-- 获取菜单信息 -->
    <select id="getMenuInfo" parameterType="com.studyjava.domain.dao.StudyJavaSysMenuDao" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_sys_menu
        <where>
            <if test="studyJavaSysMenuDao != null">
                <if test="studyJavaSysMenuDao.id != null">
                    id = #{studyJavaSysMenuDao.id}
                </if>
                <if test="studyJavaSysMenuDao.menuName != null and studyJavaSysMenuDao.menuName != ''">
                    AND menu_name = #{studyJavaSysMenuDao.menuName}
                </if>
                <if test="studyJavaSysMenuDao.parentId != null">
                    AND parent_id = #{studyJavaSysMenuDao.parentId}
                </if>
                <if test="studyJavaSysMenuDao.menuType != null">
                    AND menu_type = #{studyJavaSysMenuDao.menuType}
                </if>

            </if>
            AND is_deleted = 0
        </where>
    </select>

    <!-- userId 当前登录用户id -->
    <select id="getRoutes" resultMap="BaseResultMap">
        SELECT
            m.id, m.parent_id, m.menu_name,
            m.path, m.component, m.icon,
            m.menu_type, m.perms, m.order_num,
            m.create_time, m.update_time, m.is_deleted
        FROM
            study_java_sys_menu m
        WHERE
            (m.is_deleted = 0 OR m.is_deleted IS NULL)
            AND EXISTS (
                SELECT 1
                FROM study_java_sys_role_menus rm
                INNER JOIN study_java_sys_user_roles ur ON rm.role_id = ur.role_id
                INNER JOIN study_java_sys_role r ON rm.role_id = r.id
                INNER JOIN study_java_sys_user u ON ur.user_id = u.id
                WHERE
                    rm.menu_id = m.id
                    AND ur.user_id = #{userId}
                    AND r.status = 1
                    AND u.is_deleted = 0
            )
        ORDER BY
            m.order_num ASC
    </select>

    <!-- 新增菜单 -->
    <insert id="insertMenu" parameterType="com.studyjava.domain.dao.StudyJavaSysMenuDao">
        INSERT INTO study_java_sys_menu
        (parent_id, menu_name, path, component, icon, menu_type, perms, order_num, create_by, create_time, update_by, update_time, is_deleted, remark)
        VALUES
        (#{studyJavaSysMenuDao.parentId}, #{studyJavaSysMenuDao.menuName}, #{studyJavaSysMenuDao.path}, #{studyJavaSysMenuDao.component}, #{studyJavaSysMenuDao.icon},
        #{studyJavaSysMenuDao.menuType}, #{studyJavaSysMenuDao.perms}, #{studyJavaSysMenuDao.orderNum}, #{studyJavaSysMenuDao.createBy}, #{studyJavaSysMenuDao.createTime}, 
        #{studyJavaSysMenuDao.updateBy}, #{studyJavaSysMenuDao.updateTime}, #{studyJavaSysMenuDao.isDeleted}, #{studyJavaSysMenuDao.remark})
    </insert>
    <!-- 更新菜单 -->
    <update id="updateMenu" parameterType="com.studyjava.domain.dao.StudyJavaSysMenuDao">
        UPDATE study_java_sys_menu
        <set>
            <if test="studyJavaSysMenuDao.menuName != null and studyJavaSysMenuDao.menuName != ''">
                menu_name = #{studyJavaSysMenuDao.menuName},
            </if>
            <if test="studyJavaSysMenuDao.parentId != null">
                parent_id = #{studyJavaSysMenuDao.parentId},
            </if>
            <if test="studyJavaSysMenuDao.path != null">
                path = #{studyJavaSysMenuDao.path},
            </if>
            <if test="studyJavaSysMenuDao.component != null">
                component = #{studyJavaSysMenuDao.component},
            </if>
            <if test="studyJavaSysMenuDao.icon != null">
                icon = #{studyJavaSysMenuDao.icon},
            </if>
            <if test="studyJavaSysMenuDao.menuType != null">
                menu_type = #{studyJavaSysMenuDao.menuType},
            </if>
            <if test="studyJavaSysMenuDao.perms != null">
                perms = #{studyJavaSysMenuDao.perms},
            </if>
            <if test="studyJavaSysMenuDao.orderNum != null">
                order_num = #{studyJavaSysMenuDao.orderNum},
            </if>
            <if test="studyJavaSysMenuDao.updateBy != null">
                update_by = #{studyJavaSysMenuDao.updateBy},
            </if>
            <if test="studyJavaSysMenuDao.remark != null">
                remark = #{studyJavaSysMenuDao.remark},
            </if>
            update_time = #{studyJavaSysMenuDao.updateTime}
        </set>
        WHERE id = #{studyJavaSysMenuDao.id}
    </update>
    <!-- 删除菜单 -->
    <update id="deleteMenu" parameterType="com.studyjava.domain.dao.StudyJavaSysMenuDao">
        UPDATE study_java_sys_menu
        SET is_deleted = #{studyJavaSysMenuDao.isDeleted},
            update_time = #{studyJavaSysMenuDao.updateTime}
        WHERE id = #{studyJavaSysMenuDao.id}
    </update>
    <!-- 删除角色菜单 -->
    <delete id="deleteRoleMenusByMenuId">
        DELETE FROM study_java_sys_role_menus WHERE menu_id = #{menuId}
    </delete>
    <!-- 查询顶级菜单 -->
    <select id="getTopLevelMenus" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_sys_menu
        <where>
            (parent_id IS NULL OR parent_id = 0)
            AND (is_deleted = 0 OR is_deleted IS NULL)
            <if test="studyJavaSysMenuDao != null">
                <if test="studyJavaSysMenuDao.menuName != null and studyJavaSysMenuDao.menuName != ''">
                    AND menu_name LIKE CONCAT('%', #{studyJavaSysMenuDao.menuName}, '%')
                </if>
            </if>
        </where>
        ORDER BY order_num ASC
    </select>

    <!-- 获取用户权限列表 -->
    <select id="getPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT m.perms
        FROM study_java_sys_menu m
        INNER JOIN study_java_sys_role_menus rm ON m.id = rm.menu_id
        INNER JOIN study_java_sys_user_roles ur ON rm.role_id = ur.role_id
        INNER JOIN study_java_sys_role r ON rm.role_id = r.id
        WHERE ur.user_id = #{userId}
          AND m.perms IS NOT NULL
          AND m.perms != ''
          AND m.is_deleted = 0
          AND r.status = 1
    </select>

</mapper>
