<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaUserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.dao.StudyJavaUserDao">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="passwordMd5" column="password_md5" jdbcType="VARCHAR"/>
            <result property="introduceSign" column="introduce_sign" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="lockedFlag" column="locked_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

<!--    基础列-->
    <sql id="Base_Column_List">
        user_id,nick_name,login_name,
        password_md5,introduce_sign,address,
        is_deleted,locked_flag,create_time
    </sql>

    <!--  根据条件查询所有的用户  -->
    <select id="getUserList" resultMap="BaseResultMap" resultType="com.example.domain.dao.StudyJavaUserDao">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_user
        <where>
            is_deleted = 0
            <if test="studyJavaUser != null and studyJavaUser.userId != null and studyJavaUser.userId != ''">
                AND user_id = #{studyJavaUser.userId}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.nickName != null and studyJavaUser.nickName != ''">
                AND nick_name LIKE CONCAT('%', #{studyJavaUser.nickName}, '%')
            </if>
            <if test="studyJavaUser != null and studyJavaUser.loginName != null and studyJavaUser.loginName != ''">
                AND login_name LIKE CONCAT('%', #{studyJavaUser.loginName},'%')
            </if>
            <if test="studyJavaUser != null and studyJavaUser.introduceSign != null and studyJavaUser.introduceSign != ''">
                AND introduce_sign LIKE CONCAT('%', #{studyJavaUser.introduceSign},'%')
            </if>
            <if test="studyJavaUser != null and studyJavaUser.address != null and studyJavaUser.address != ''">
                AND address LIKE CONCA('%',#{studyJavaUser.address},'%')
            </if>
        </where>
    </select>
    <!--  新增一条用户数据  -->
    <insert id="insertUser" keyColumn="user_id" keyProperty="userId" parameterType="com.example.domain.vo.StudyJavaUserVo" useGeneratedKeys="true">
        insert into study_java_user
        ( user_id,nick_name,login_name
        ,password_md5,introduce_sign,address
        ,is_deleted,locked_flag,create_time
        )
        values (#{studyJavaUser.userId,jdbcType=BIGINT},#{studyJavaUser.nickName,jdbcType=VARCHAR},#{studyJavaUser.loginName,jdbcType=VARCHAR}
        ,#{studyJavaUser.passwordMd5,jdbcType=VARCHAR},#{studyJavaUser.introduceSign,jdbcType=VARCHAR},#{studyJavaUser.address,jdbcType=VARCHAR}
        ,#{studyJavaUser.isDeleted,jdbcType=TINYINT},#{studyJavaUser.lockedFlag,jdbcType=TINYINT},#{studyJavaUser.createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <!--  更新一条用户数据  -->
    <update id="updateUser" parameterType="com.example.domain.vo.StudyJavaUserVo">
        update study_java_user
        <set>
            <if test="studyJavaUser.nickName != null">
                nick_name = #{studyJavaUser.nickName,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUser.loginName != null">
                login_name = #{studyJavaUser.loginName,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUser.introduceSign != null">
                introduce_sign = #{studyJavaUser.introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaUser.address != null">
                address = #{studyJavaUser.address,jdbcType=VARCHAR},
            </if>
        </set>
        where
        is_deleted = 0
        and `user_id` = #{studyJavaUser.userId,jdbcType=BIGINT}
    </update>
    <!--  删除用户 软删除  -->
    <update id="deleteUser" parameterType="com.example.domain.vo.StudyJavaUserVo">
        update study_java_user
        <set>
            is_deleted = 1
        </set>
        where
            `user_id` = #{studyJavaUser.userId,jdbcType=BIGINT}
    </update>
    <!--  获取用户信息  -->
    <select id="getUserInfo" parameterType="com.example.domain.vo.StudyJavaUserVo" resultType="com.example.domain.dao.StudyJavaUserDao">
        select
        <include refid="Base_Column_List"></include>
        from study_java_user
        <where>
            is_deleted = 0
            <if test="studyJavaUser != null and studyJavaUser.userId != null and studyJavaUser.userId != ''">
                AND user_id = #{studyJavaUser.userId}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.loginName != null and studyJavaUser.loginName != ''">
                AND login_name = #{studyJavaUser.loginName}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.nickName != null and studyJavaUser.nickName != ''">
                AND nick_name = #{studyJavaUser.nickName}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.passwordMd5 != null and studyJavaUser.passwordMd5 != ''">
                AND password_md5 = #{studyJavaUser.passwordMd5}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.introduceSign != null and studyJavaUser.introduceSign != ''">
                AND introduce_sign = #{studyJavaUser.introduceSign}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.address != null and studyJavaUser.address != ''">
                AND address = #{studyJavaUser.address}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.lockedFlag != null and studyJavaUser.lockedFlag != ''">
                AND locked_flag = #{studyJavaUser.lockedFlag}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.introduceSign != null and studyJavaUser.introduceSign != ''">
                AND introduce_sign = #{studyJavaUser.introduceSign}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.introduceSign != null and studyJavaUser.introduceSign != ''">
                AND introduce_sign = #{studyJavaUser.introduceSign}
            </if>
            <if test="studyJavaUser != null and studyJavaUser.introduceSign != null and studyJavaUser.introduceSign != ''">
                AND introduce_sign = #{studyJavaUser.introduceSign}
            </if>
        </where>
        Limit 1
    </select>
</mapper>
