<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyjava.mapper.StudyJavaSysDataDictMapper">

    <resultMap id="BaseResultMap" type="com.studyjava.domain.dao.StudyJavaSysDataDictDao">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
            <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
            <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dict_type,dict_code,
        dict_name,dict_value,sort_order,
        status,remark,create_by,
        create_time,update_by,update_time,is_deleted
    </sql>

    <select id="getDataDictList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM study_java_sys_data_dictionary
        <where>
            <if test="studyJavaSysDataDictDao != null and studyJavaSysDataDictDao.dictType != null and studyJavaSysDataDictDao.dictType != ''">
                AND dict_type = #{studyJavaSysDataDictDao.dictType}
            </if>
            <if test="studyJavaSysDataDictDao != null and studyJavaSysDataDictDao.dictCode != null and studyJavaSysDataDictDao.dictCode != ''">
                AND dict_code = #{studyJavaSysDataDictDao.dictCode}
            </if>
            <if test="studyJavaSysDataDictDao != null and studyJavaSysDataDictDao.dictName != null and studyJavaSysDataDictDao.dictName != ''">
                AND dict_name LIKE CONCAT('%', #{studyJavaSysDataDictDao.dictName}, '%')
            </if>
            <if test="studyJavaSysDataDictDao != null and studyJavaSysDataDictDao.status != null and studyJavaSysDataDictDao.status != ''" >
                AND status = #{studyJavaSysDataDictDao.status}
            </if>
        </where>
        ORDER BY sort_order DESC
    </select>

    <insert id="insertDataDict" parameterType="com.studyjava.domain.dao.StudyJavaSysDataDictDao">
        INSERT INTO study_java_sys_data_dictionary
        (dict_type,dict_code,dict_name,dict_value,sort_order,status,remark,create_by,create_time,update_by,update_time,is_deleted)
        VALUES
        (#{studyJavaSysDataDictDao.dictType},#{studyJavaSysDataDictDao.dictCode},#{studyJavaSysDataDictDao.dictName},#{studyJavaSysDataDictDao.dictValue},#{studyJavaSysDataDictDao.sortOrder},#{studyJavaSysDataDictDao.status},#{studyJavaSysDataDictDao.remark},#{studyJavaSysDataDictDao.createBy},#{studyJavaSysDataDictDao.createTime},#{studyJavaSysDataDictDao.updateBy},#{studyJavaSysDataDictDao.updateTime},#{studyJavaSysDataDictDao.isDeleted})
    </insert>

    <update id="updateDataDict" parameterType="com.studyjava.domain.dao.StudyJavaSysDataDictDao">
        UPDATE study_java_sys_data_dictionary
        <set>
            <if test="studyJavaSysDataDictDao.dictType != null">dict_type = #{studyJavaSysDataDictDao.dictType},</if>
            <if test="studyJavaSysDataDictDao.dictCode != null">dict_code = #{studyJavaSysDataDictDao.dictCode},</if>
            <if test="studyJavaSysDataDictDao.dictName != null">dict_name = #{studyJavaSysDataDictDao.dictName},</if>
            <if test="studyJavaSysDataDictDao.dictValue != null">dict_value = #{studyJavaSysDataDictDao.dictValue},</if>
            <if test="studyJavaSysDataDictDao.sortOrder != null">sort_order = #{studyJavaSysDataDictDao.sortOrder},</if>
            <if test="studyJavaSysDataDictDao.status != null">status = #{studyJavaSysDataDictDao.status},</if>
            <if test="studyJavaSysDataDictDao.remark != null">remark = #{studyJavaSysDataDictDao.remark},</if>
            <if test="studyJavaSysDataDictDao.updateBy != null">update_by = #{studyJavaSysDataDictDao.updateBy},</if>
            <if test="studyJavaSysDataDictDao.updateTime != null">update_time = #{studyJavaSysDataDictDao.updateTime},</if>
        </set>
        WHERE id = #{studyJavaSysDataDictDao.id}
    </update>

    <update id="deleteDataDict" parameterType="java.lang.Long">
        UPDATE study_java_sys_data_dictionary
        SET status = 0
        WHERE id = #{id}
    </update>

    <select id="getDataDictDetail" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM study_java_sys_data_dictionary
        WHERE id = #{id}
    </select>
</mapper>
