<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaSysRoleMapper">

    <sql id="Base_Column_List">
        id, role_name, role_code, role_sort, status, remark,
        create_by, create_time, update_by, update_time, del_flag
    </sql>

    <sql id="Base_Where_Clause">
        <where>
            del_flag = 0
            <if test="studyJavaSysRoleDao.roleName != null and studyJavaSysRoleDao.roleName != ''">
                AND role_name LIKE CONCAT('%', #{studyJavaSysRoleDao.roleName}, '%')
            </if>
            <if test="studyJavaSysRoleDao.roleCode != null and studyJavaSysRoleDao.roleCode != ''">
                AND role_code LIKE CONCAT('%', #{studyJavaSysRoleDao.roleCode}, '%')
            </if>
            <if test="studyJavaSysRoleDao.status != null">
                AND status = #{studyJavaSysRoleDao.status}
            </if>
        </where>
    </sql>

    <resultMap id="RoleWithMenuResultMap" type="com.example.domain.dao.StudyJavaSysRoleDao">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleSort" column="role_sort"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="menuIds" column="ids" typeHandler="com.example.typehandler.LongListTypeHandler"/>
        <result property="menuNames" column="menu_names" typeHandler="com.example.typehandler.StringListTypeHandler"/>
    </resultMap>

    <select id="getRoleList" resultMap="RoleWithMenuResultMap">
        SELECT
        r1.id, r1.role_name, r1.role_code, r1.role_sort, r1.status, r1.remark,
        r1.create_by, r1.create_time, r1.update_by, r1.update_time, r1.del_flag,
        GROUP_CONCAT(DISTINCT r3.id) AS ids,
        GROUP_CONCAT(DISTINCT r3.menu_name) AS menu_names
        FROM study_java_sys_role r1
        LEFT JOIN study_java_sys_role_menus m ON r1.id = m.role_id
        LEFT JOIN study_java_sys_menu r3 ON r3.id = m.menu_id
        <where>
            del_flag = 0
            <if test="studyJavaSysRoleDao != null and studyJavaSysRoleDao.roleName != null and studyJavaSysRoleDao.roleName != ''">
                AND role_name LIKE CONCAT('%', #{studyJavaSysRoleDao.roleName},'%')
            </if>
            <if test="studyJavaSysRoleDao != null and studyJavaSysRoleDao.roleCode != null and studyJavaSysRoleDao.roleCode != ''">
                AND role_code = #{studyJavaSysRoleDao.roleCode}
            </if>
            <if test="studyJavaSysRoleDao != null and studyJavaSysRoleDao.status != null">
                AND status = #{studyJavaSysRoleDao.status}
            </if>
        </where>
        GROUP BY r1.id
        ORDER BY r1.role_sort ASC
    </select>

    <select id="getAllRoleList" resultType="com.example.domain.dao.StudyJavaSysRoleDao">
        SELECT
            r1.id, r1.role_name, r1.role_code, r1.role_sort, r1.status, r1.remark,
            r1.create_by, r1.create_time, r1.update_by, r1.update_time, r1.del_flag
        FROM study_java_sys_role r1
        <!-- LEFT JOIN study_java_sys_user_roles r2 ON r2.id = r1.id
        LEFT JOIN study_java_sys_user u ON r2.user_id = u.id -->
        WHERE r1.del_flag = 0
        ORDER BY r1.role_sort ASC
    </select>

<!--    创建角色-->
    <insert id="insertRole" parameterType="com.example.domain.dao.StudyJavaSysRoleDao">
        INSERT INTO study_java_sys_role
        (role_name, role_code, role_sort, status, remark, create_by, create_time, update_by, update_time, del_flag)
        VALUES
        (#{roleDao.roleName}, #{roleDao.roleCode}, #{roleDao.roleSort}, #{roleDao.status}, #{roleDao.remark}, #{roleDao.createBy}, #{roleDao.createTime}, #{roleDao.updateBy}, #{roleDao.updateTime}, #{roleDao.delFlag})
    </insert>

    <update id="updateRole" parameterType="com.example.domain.dao.StudyJavaSysRoleDao">
        UPDATE study_java_sys_role
        <set>
            <if test="roleDao != null and roleDao.roleName != null and roleDao.roleName != ''">role_name = #{roleDao.roleName},</if>
            <if test="roleDao != null and roleDao.roleCode != null and roleDao.roleCode != ''">role_code = #{roleDao.roleCode},</if>
            <if test="roleDao != null and roleDao.roleSort != null">role_sort = #{roleDao.roleSort},</if>
            <if test="roleDao != null and roleDao.status != null">status = #{roleDao.status},</if>
            <if test="roleDao != null and roleDao.remark != null">remark = #{roleDao.remark},</if>
            <if test="roleDao != null and roleDao.updateBy != null">update_by = #{roleDao.updateBy},</if>
            <if test="roleDao != null and roleDao.updateTime != null">update_time = #{roleDao.updateTime},</if>
        </set>
        WHERE id = #{roleDao.id}
    </update>

    <update id="updateRoleStatus" parameterType="com.example.domain.dao.StudyJavaSysRoleDao">
        UPDATE study_java_sys_role
        <set>
            <if test="roleDao != null and roleDao.status != null">status = #{roleDao.status},</if>
            <if test="roleDao != null and roleDao.updateBy != null">update_by = #{roleDao.updateBy},</if>
            <if test="roleDao != null and roleDao.updateTime != null">update_time = #{roleDao.updateTime},</if>
        </set>
        WHERE id = #{roleDao.id}
    </update>

<!--    删除角色-->
    <update id="deleteRole" parameterType="long">
        UPDATE study_java_sys_role
        SET del_flag = 1
        WHERE id = #{roleId}
    </update>

<!--    获取用户角色-->
    <select id="getRoleInfo" parameterType="com.example.domain.dao.StudyJavaSysRoleDao" resultType="com.example.domain.dao.StudyJavaSysRoleDao">
        SELECT
        <include refid="Base_Column_List"/>
        FROM study_java_sys_role
        WHERE del_flag = 0
        <if test="studyJavaSysRoleDao != null">
            <if test="studyJavaSysRoleDao.roleCode != null and studyJavaSysRoleDao.roleCode != ''">
                AND role_code = #{studyJavaSysRoleDao.roleCode}
            </if>
            <if test="studyJavaSysRoleDao.id != null">
                AND id = #{studyJavaSysRoleDao.id}
            </if>
        </if>
    </select>

    <select id="getMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id FROM study_java_sys_role_menus WHERE role_id = #{roleId}
    </select>

<!--    将关联关系写入数据库中-->
    <insert id="insertRoleMenus">
        INSERT INTO study_java_sys_role_menus (role_id, menu_id)
        VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleMenusByRoleId">
        DELETE FROM study_java_sys_role_menus WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteUserRolesByRoleId">
        DELETE FROM study_java_sys_user_roles WHERE role_id = #{roleId}
    </delete>

</mapper>
