<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyjava.mapper.StudyJavaGoodsMapper">

    <resultMap id="BaseResultMap" type="com.studyjava.domain.dao.StudyJavaGoodsDao">
        <id property="goodsId" column="goods_id" jdbcType="BIGINT"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="goodsIntro" column="goods_intro" jdbcType="VARCHAR"/>
        <result property="goodsCategoryId" column="goods_category_id" jdbcType="BIGINT"/>
        <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
        <result property="goodsCarousel" column="goods_carousel" jdbcType="VARCHAR"/>
        <result property="goodsDetailContent" column="goods_detail_content" jdbcType="LONGVARCHAR"/>
        <result property="originalPrice" column="original_price" jdbcType="INTEGER"/>
        <result property="sellingPrice" column="selling_price" jdbcType="INTEGER"/>
        <result property="stockNum" column="stock_num" jdbcType="INTEGER"/>
        <result property="tag" column="tag" jdbcType="VARCHAR"/>
        <result property="goodsSellStatus" column="goods_sell_status" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id, goods_name, goods_intro, goods_category_id, goods_cover_img, goods_carousel, goods_detail_content,
        original_price, selling_price, stock_num, tag, goods_sell_status, create_by, create_time, update_by, update_time, is_deleted, remark
    </sql>

    <!-- 获取商品列表 -->
    <select id="getGoodsList" resultMap="BaseResultMap"
            parameterType="com.studyjava.domain.dao.StudyJavaGoodsDao">
        SELECT
        <include refid="Base_Column_List"/>
        FROM study_java_goods
        <where>
            <if test="studyJavaGoodsDao != null">
                <if test="studyJavaGoodsDao.goodsName != null and studyJavaGoodsDao.goodsName != ''">
                AND goods_name LIKE CONCAT('%', #{studyJavaGoodsDao.goodsName}, '%')
                </if>
                <if test="studyJavaGoodsDao.goodsCategoryId != null and studyJavaGoodsDao.goodsCategoryId != 0">
                    AND goods_category_id = #{studyJavaGoodsDao.goodsCategoryId}
                </if>
                <if test="studyJavaGoodsDao.goodsSellStatus != null">
                    AND goods_sell_status = #{studyJavaGoodsDao.goodsSellStatus}
                </if>
            </if>
        </where>
        ORDER BY goods_id desc
    </select>


    <insert id="insertGoods" parameterType="com.studyjava.domain.dao.StudyJavaGoodsDao">
        INSERT INTO study_java_goods (
            goods_name, goods_intro, goods_category_id, goods_cover_img, goods_carousel, goods_detail_content,
            original_price, selling_price, stock_num, tag, goods_sell_status, create_by, create_time, update_by, update_time, is_deleted, remark
        ) VALUES (
            #{goodsName}, #{goodsIntro}, #{goodsCategoryId}, #{goodsCoverImg}, #{goodsCarousel}, #{goodsDetailContent},
            #{originalPrice}, #{sellingPrice}, #{stockNum}, #{tag}, #{goodsSellStatus}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{isDeleted}, #{remark}
        )
    </insert>
</mapper>
