<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaGoodsInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.dao.StudyJavaGoodsInfoDao">
            <id property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsIntro" column="goods_intro" jdbcType="VARCHAR"/>
            <result property="goodsCategoryId" column="goods_category_id" jdbcType="BIGINT"/>
            <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
            <result property="goodsCarousel" column="goods_carousel" jdbcType="VARCHAR"/>
            <result property="goodsDetailContent" column="goods_detail_content" jdbcType="VARCHAR"/>
            <result property="originalPrice" column="original_price" jdbcType="INTEGER"/>
            <result property="sellingPrice" column="selling_price" jdbcType="INTEGER"/>
            <result property="stockNum" column="stock_num" jdbcType="INTEGER"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
            <result property="goodsSellStatus" column="goods_sell_status" jdbcType="TINYINT"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,goods_name,goods_intro,
        goods_category_id,goods_cover_img,goods_carousel,
        goods_detail_content,original_price,selling_price,
        stock_num,tag,goods_sell_status,
        create_user,create_time,update_user,
        update_time
    </sql>
</mapper>
