<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyjava.mapper.StudyJavaOrderMapper">

    <resultMap id="BaseResultMap" type="com.studyjava.domain.dao.StudyJavaOrderDao">
            <id property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalPrice" column="total_price" jdbcType="INTEGER"/>
            <result property="payStatus" column="pay_status" jdbcType="TINYINT"/>
            <result property="payType" column="pay_type" jdbcType="TINYINT"/>
            <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="order_status" jdbcType="TINYINT"/>
            <result property="extraInfo" column="extra_info" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `order_id`,`order_no`,`user_id`,
        `total_price`,`pay_status`,`pay_type`,
        `pay_time`,`order_status`,`extra_info`,
        `user_name`,`user_phone`,`user_address`,
        `is_deleted`,`create_time`,`update_time`
    </sql>
    <!-- 查询订单列表 -->
    <select id="getOrderList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_order
        <if test="studyJavaOrderDao != null">
            <where>
                <if test="studyJavaOrderDao.orderNo != null and studyJavaOrderDao.orderNo != ''">
                    order_no = #{studyJavaOrderDao.orderNo,jdbcType=VARCHAR}
                </if>
                <if test="studyJavaOrderDao.userId != null">
                    and user_id = #{studyJavaOrderDao.userId,jdbcType=BIGINT}
                </if>
                <if test="studyJavaOrderDao.payStatus != null">
                    and pay_status = #{studyJavaOrderDao.payStatus,jdbcType=TINYINT}
                </if>
                <if test="studyJavaOrderDao.orderStatus != null">
                    and order_status = #{studyJavaOrderDao.orderStatus,jdbcType=TINYINT}
                </if>
                <if test="studyJavaOrderDao.createTime != null">
                    and create_time = #{studyJavaOrderDao.createTime,jdbcType=TIMESTAMP}
                </if>
                <if test="studyJavaOrderDao.updateTime != null">
                    and update_time = #{studyJavaOrderDao.updateTime,jdbcType=TIMESTAMP}
                </if>
                <if test="studyJavaOrderDao.isDeleted != null">
                    and is_deleted = #{studyJavaOrderDao.isDeleted,jdbcType=TINYINT}
                </if>
            </where>
        </if>
    </select>
    <!-- 查询订单详情 -->
    <select id="getOrderInfo" parameterType="com.studyjava.domain.dao.StudyJavaOrderDao" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from study_java_order
        <where>
            is_deleted = 0
            <if test="studyJavaOrderDao != null">
                <if test="studyJavaOrderDao.orderId != null">
                    and order_id = #{studyJavaOrderDao.orderId,jdbcType=BIGINT}
                </if>
                <if test="studyJavaOrderDao.orderNo != null">
                    and order_no = #{studyJavaOrderDao.orderNo,jdbcType=VARCHAR}
                </if>
                <if test="studyJavaOrderDao.userId != null">
                    and user_id = #{studyJavaOrderDao.userId,jdbcType=BIGINT}
                </if>
                <if test="studyJavaOrderDao.payStatus != null">
                    and pay_status = #{studyJavaOrderDao.payStatus,jdbcType=TINYINT}
                </if>

            </if>

        </where>
    </select>
    <!-- 删除订单 -->
    <update id="deleteOrder"  parameterType="com.studyjava.domain.dao.StudyJavaOrderDao" >
        update study_java_order
        set is_deleted = 1
        <where>
            <if test="studyJavaOrderDao != null">
                <if test="studyJavaOrderDao.orderId != null">
                    and order_id = #{studyJavaOrderDao.orderId,jdbcType=BIGINT}
                </if>
            </if>
        </where>
    </update>


    <!-- 新建订单 -->
    <insert id="insertOrder" keyColumn="order_id" keyProperty="orderId" parameterType="com.studyjava.domain.dao.StudyJavaOrderDao" useGeneratedKeys="true">
        insert into study_java_order
        ( order_id,order_no,user_id
        ,total_price,pay_status,pay_type
        ,pay_time,order_status,extra_info
        ,user_name,user_phone,user_address
        ,is_deleted,create_time,update_time
        )
        values (#{orderId,jdbcType=BIGINT},#{orderNo,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT}
        ,#{totalPrice,jdbcType=INTEGER},#{payStatus,jdbcType=TINYINT},#{payType,jdbcType=TINYINT}
        ,#{payTime,jdbcType=TIMESTAMP},#{orderStatus,jdbcType=TINYINT},#{extraInfo,jdbcType=VARCHAR}
        ,#{userName,jdbcType=VARCHAR},#{userPhone,jdbcType=VARCHAR},#{userAddress,jdbcType=VARCHAR}
        ,#{isDeleted,jdbcType=TINYINT},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 更新订单 -->
    <update id="updateOrder" parameterType="com.studyjava.domain.dao.StudyJavaOrderDao">
        update study_java_order
        <set>
            <if test="studyJavaOrderDao != null">
                <if test="studyJavaOrderDao.orderNo != null">
                    order_no = #{studyJavaOrderDao.orderNo,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=BIGINT},
                </if>
                <if test="totalPrice != null">
                    total_price = #{totalPrice,jdbcType=INTEGER},
                </if>
                <if test="payStatus != null">
                    pay_status = #{payStatus,jdbcType=TINYINT},
                </if>
                <if test="payType != null">
                    pay_type = #{payType,jdbcType=TINYINT},
                </if>
                <if test="payTime != null">
                    pay_time = #{payTime,jdbcType=TIMESTAMP},
                </if>
                <if test="orderStatus != null">
                    order_status = #{orderStatus,jdbcType=TINYINT},
                </if>
                <if test="extraInfo != null">
                    extra_info = #{extraInfo,jdbcType=VARCHAR},
                </if>
                <if test="userName != null">
                    user_name = #{userName,jdbcType=VARCHAR},
                </if>
                <if test="userPhone != null">
                    user_phone = #{userPhone,jdbcType=VARCHAR},
                </if>
                <if test="userAddress != null">
                    user_address = #{userAddress,jdbcType=VARCHAR},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
            </if>
        </set>
        <where>
            <if test="studyJavaOrderDao != null">
                <if test="studyJavaOrderDao.orderId != null">
                    and order_id = #{studyJavaOrderDao.orderId,jdbcType=BIGINT}
                </if>
            </if>
        </where>
        </update>
</mapper>
