<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaUserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.StudyJavaUser">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="passwordMd5" column="password_md5" jdbcType="VARCHAR"/>
            <result property="introduceSign" column="introduce_sign" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="lockedFlag" column="locked_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,nick_name,login_name,
        password_md5,introduce_sign,address,
        is_deleted,locked_flag,create_time
    </sql>

    <!--  根据条件查询所有的用户  -->
    <select id="getUserList" resultType="com.example.domain.StudyJavaUser">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_user
        <where>
            1 = 1
            <if test="userQueryData.nickName != null and userQueryData.nickName != ''">
                AND nick_name LIKE CONCAT('%', #{userQueryData.nickName}, '%')
            </if>
            <if test="userQueryData.loginName != null and userQueryData.loginName != ''">
                AND login_name = #{userQueryData.loginName}
            </if>
        </where>
    </select>


<!--    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.example.domain.StudyJavaUser" useGeneratedKeys="true">-->
<!--        insert into study_java_user-->
<!--        ( user_id,nick_name,login_name-->
<!--        ,password_md5,introduce_sign,address-->
<!--        ,is_deleted,locked_flag,create_time-->
<!--        )-->
<!--        values (#{userId,jdbcType=BIGINT},#{nickName,jdbcType=VARCHAR},#{loginName,jdbcType=VARCHAR}-->
<!--        ,#{passwordMd5,jdbcType=VARCHAR},#{introduceSign,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR}-->
<!--        ,#{isDeleted,jdbcType=TINYINT},#{lockedFlag,jdbcType=TINYINT},#{createTime,jdbcType=TIMESTAMP}-->
<!--        )-->
<!--    </insert>-->



<!--    <update id="updateById" parameterType="com.example.domain.StudyJavaUser">-->
<!--        update study_java_user-->
<!--        <set>-->
<!--                <if test="nickName != null">-->
<!--                    nick_name = #{nickName,jdbcType=VARCHAR},-->
<!--                </if>-->
<!--                <if test="loginName != null">-->
<!--                    login_name = #{loginName,jdbcType=VARCHAR},-->
<!--                </if>-->
<!--                <if test="passwordMd5 != null">-->
<!--                    password_md5 = #{passwordMd5,jdbcType=VARCHAR},-->
<!--                </if>-->
<!--                <if test="introduceSign != null">-->
<!--                    introduce_sign = #{introduceSign,jdbcType=VARCHAR},-->
<!--                </if>-->
<!--                <if test="address != null">-->
<!--                    address = #{address,jdbcType=VARCHAR},-->
<!--                </if>-->
<!--                <if test="isDeleted != null">-->
<!--                    is_deleted = #{isDeleted,jdbcType=TINYINT},-->
<!--                </if>-->
<!--                <if test="lockedFlag != null">-->
<!--                    locked_flag = #{lockedFlag,jdbcType=TINYINT},-->
<!--                </if>-->
<!--                <if test="createTime != null">-->
<!--                    create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--                </if>-->
<!--        </set>-->
<!--        where   user_id = #{userId,jdbcType=BIGINT} -->
<!--    </update>-->


<!--    <update id="updateByPrimaryKey" parameterType="com.example.domain.StudyJavaUser">-->
<!--        update study_java_user-->
<!--        set -->
<!--            nick_name =  #{nickName,jdbcType=VARCHAR},-->
<!--            login_name =  #{loginName,jdbcType=VARCHAR},-->
<!--            password_md5 =  #{passwordMd5,jdbcType=VARCHAR},-->
<!--            introduce_sign =  #{introduceSign,jdbcType=VARCHAR},-->
<!--            address =  #{address,jdbcType=VARCHAR},-->
<!--            is_deleted =  #{isDeleted,jdbcType=TINYINT},-->
<!--            locked_flag =  #{lockedFlag,jdbcType=TINYINT},-->
<!--            create_time =  #{createTime,jdbcType=TIMESTAMP}-->
<!--        where   user_id = #{userId,jdbcType=BIGINT} -->
<!--    </update>-->
</mapper>
