<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudyJavaSysUserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.dao.StudyJavaSysUserDao">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="passwordMd5" column="password_md5" jdbcType="VARCHAR"/>
            <result property="introduceSign" column="introduce_sign" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="lockedFlag" column="locked_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        user_id,nick_name,login_name,
        password_md5,introduce_sign,address,
        is_deleted,locked_flag,create_time,avatar
    </sql>

    <!--  根据条件查询所有的用户  -->
    <select id="getUserList" resultMap="BaseResultMap" resultType="com.example.domain.dao.StudyJavaSysUserDao">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        study_java_sys_user
        <where>
            is_deleted = 0
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.userId != null and studyJavaSysUserDao.userId != ''">
                AND user_id = #{studyJavaSysUserDao.userId}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.nickName != null and studyJavaSysUserDao.nickName != ''">
                AND nick_name LIKE CONCAT('%', #{studyJavaSysUserDao.nickName}, '%')
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.loginName != null and studyJavaSysUserDao.loginName != ''">
                AND login_name LIKE CONCAT('%', #{studyJavaSysUserDao.loginName},'%')
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.introduceSign != null and studyJavaSysUserDao.introduceSign != ''">
                AND introduce_sign LIKE CONCAT('%', #{studyJavaSysUserDao.introduceSign},'%')
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.address != null and studyJavaSysUserDao.address != ''">
                AND address LIKE CONCA('%',#{studyJavaSysUserDao.address},'%')
            </if>
        </where>
    </select>

    <!--  新增用户数据  -->
    <insert id="insertUserInfo" keyColumn="user_id" keyProperty="userId" parameterType="com.example.domain.vo.StudyJavaSysUserVo" useGeneratedKeys="true">
        insert into study_java_sys_user
        ( user_id,nick_name,login_name
        ,password_md5,introduce_sign,address
        ,is_deleted,locked_flag,create_time
        )
        values (#{studyJavaSysUserDao.userId,jdbcType=BIGINT},#{studyJavaSysUserDao.nickName,jdbcType=VARCHAR},#{studyJavaSysUserDao.loginName,jdbcType=VARCHAR}
        ,#{studyJavaSysUserDao.passwordMd5,jdbcType=VARCHAR},#{studyJavaSysUserDao.introduceSign,jdbcType=VARCHAR},#{studyJavaSysUserDao.address,jdbcType=VARCHAR}
        ,#{studyJavaSysUserDao.isDeleted,jdbcType=TINYINT},#{studyJavaSysUserDao.lockedFlag,jdbcType=TINYINT},#{studyJavaSysUserDao.createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--  更新用户头像  -->
    <update id="updateUserAvatar">
        update study_java_sys_user
        <set>
            avatar = #{base64ImageUrl,jdbcType=VARCHAR},
        </set>
        where
            is_deleted = 0
            and `user_id` = #{userId,jdbcType=BIGINT}
    </update>

    <!--  删除用户 软删除  -->
    <update id="deleteUserInfo" parameterType="com.example.domain.dao.StudyJavaSysUserDao">
        update study_java_sys_user
        <set>
            is_deleted = 1
        </set>
        where
            `user_id` = #{studyJavaSysUserDao.userId,jdbcType=BIGINT}
    </update>

    <!--  更新用户数据  -->
    <update id="updateUserInfo" parameterType="com.example.domain.dao.StudyJavaSysUserDao">
        update study_java_sys_user
        <set>
            <if test="studyJavaSysUserDao.nickName != null and studyJavaSysUserDao.nickName != ''">
                nick_name = #{studyJavaSysUserDao.nickName,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaSysUserDao.loginName != null and studyJavaSysUserDao.loginName != ''">
                login_name = #{studyJavaSysUserDao.loginName,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaSysUserDao.introduceSign != null and studyJavaSysUserDao.introduceSign != ''">
                introduce_sign = #{studyJavaSysUserDao.introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaSysUserDao.address != null and studyJavaSysUserDao.address != ''">
                address = #{studyJavaSysUserDao.address,jdbcType=VARCHAR},
            </if>
            <if test="studyJavaSysUserDao.passwordMd5 != null and studyJavaSysUserDao.passwordMd5 != ''">
                password_md5 = #{studyJavaSysUserDao.passwordMd5,jdbcType=VARCHAR},
            </if>
        </set>
        where
        is_deleted = 0
        and `user_id` = #{studyJavaSysUserDao.userId,jdbcType=BIGINT}
    </update>
    <!--  获取用户信息  -->
    <select id="getUserInfo" parameterType="com.example.domain.dao.StudyJavaSysUserDao" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from study_java_sys_user
        <where>
            is_deleted = 0
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.userId != null and studyJavaSysUserDao.userId != ''">
                AND user_id = #{studyJavaSysUserDao.userId}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.loginName != null and studyJavaSysUserDao.loginName != ''">
                AND login_name = #{studyJavaSysUserDao.loginName}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.nickName != null and studyJavaSysUserDao.nickName != ''">
                AND nick_name = #{studyJavaSysUserDao.nickName}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.passwordMd5 != null and studyJavaSysUserDao.passwordMd5 != ''">
                AND password_md5 = #{studyJavaSysUserDao.passwordMd5}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.introduceSign != null and studyJavaSysUserDao.introduceSign != ''">
                AND introduce_sign = #{studyJavaSysUserDao.introduceSign}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.address != null and studyJavaSysUserDao.address != ''">
                AND address = #{studyJavaSysUserDao.address}
            </if>
            <if test="studyJavaSysUserDao != null and studyJavaSysUserDao.lockedFlag != null and studyJavaSysUserDao.lockedFlag != ''">
                AND locked_flag = #{studyJavaSysUserDao.lockedFlag}
            </if>
        </where>
        Limit 1
    </select>
</mapper>
